html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #f8f9fa;
    font-size: 1.6rem;
}


h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: #c3c3c3;
    font-size: 4rem;
}

h3 {
    font-family: 'Staatliches', cursive;
    
    font-size: 2.4rem;
}
.btn {
    font-size:1.4rem;
}
.fecha-alta {
    font-family: 'Staatliches', cursive;
   
    font-weight: bold;
    font-size: 2rem;
}
.contacto p {
    font-size: 1.2rem;
    margin: 0;
}
.list-group-item:hover {
    background: white;
}
form {
    border-radius: .3rem;
}